<div class="row">
    <div [ngClass]="isSidePanelVisible  ? 'col-8' : 'col-12'" class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                    Product List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
                    </div>                 
                </div>                
            </div>
            <div class="card-body" style="height: 10.125rem;">
                    <div class="row">
                <div class="col-3" *ngFor="let productd of products">
                    <div class="card" >
                        <img class="card-img-top" style="height: 10.125rem;" [src]="productd.image" alt="Card image">
                        <div class="card-body">
                            <input type="hidden" value="{{productd.id}}"/>
                        <h4 class="card-title">{{productd.title}}</h4>
                        <p class="card-text">{{productd.category}}</p>
                        <h4 class="card-title">{{productd.price}}$</h4>
                        <a href="#" class="btn btn-primary" (click)="onEdit(productd)">Edit</a>
                        <a href="#" class="btn btn-danger mx-2" (click)="onDelete(productd.id)">Delete</a>
                        </div>
                    </div> 
                </div>
                </div>               
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                    New Product List
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-success" (click)="closeSidePanel()">close</button>
                    </div>                 
                </div>                
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col-6">
                    <label for="">Name </label>
                    <input type="hidden" [(ngModel)]="productObj.id"/>
                    <input type="text" [(ngModel)]="productObj.title" class="form-control"/>
                </div>
                <div class="col-6">
                    <label for="">Price </label>
                    <input type="text" [(ngModel)]="productObj.price" class="form-control"/>
                </div> 
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Category </label>
                        <select [(ngModel)]="productObj.category" class="form-select">
                            
                            <option *ngFor="let item of data" [value]="item">{{item}}</option>
                    
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="">Image Url </label>
                        <input type="text" [(ngModel)]="productObj.image" class="form-control"/>
                    </div>                    
                </div>
                <div class="row">                    
                    <div class="col-12">
                        <label for="">Product Description </label>
                        <textarea  rows="4" [(ngModel)]="productObj.description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-success">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success" *ngIf="productObj.price ==0" (click)="onSave()">Create Product</button>
                        <button class="btn btn-primary" *ngIf="productObj.price !==0" (click)="onUpdate()">Update Product</button>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>
